@charset "UTF-8";
/* CSS Document */


/* Simple fluid media
   Note: Fluid media requires that you remove the media's height and width attributes from the HTML
   http://www.alistapart.com/articles/fluid-images/ 
*/
img, object, embed, video {
	max-width: 100%;
}

/* IE 6 does not support max-width so default to width 100% */
.ie6 img {
	width:100%;
}

/*
	Dreamweaver Fluid Grid Properties
	----------------------------------
	dw-num-cols-mobile:		4;
	dw-num-cols-tablet:		8;
	dw-num-cols-desktop:	12;
	dw-gutter-percentage:	25;
	
	Inspiration from "Responsive Web Design" by Ethan Marcotte 
	http://www.alistapart.com/articles/responsive-web-design
	
	and Golden Grid System by Joni Korpi
	http://goldengridsystem.com/
*/

.fluid {
	clear: both;
	margin-left: 0;
	width: 100%;
	float: left;
	display: block;
}

.fluidList {
    list-style:none;
    list-style-image:none;
    margin:0;
    padding:0;        
}

body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	line-height: 1.2em;
	color: #000;
	background-color: #666;
}
  
.gridContainer {
	margin: 0 auto;
	padding: 0;
	width: 100%;
	clear: none;
	float: none;
	background-color: #FFFFFF;
}

a:link.opaque {
	   opacity: 1;
}
   
a:hover.opaque {
	   opacity: 0.5;
}


/* Mobile Layout: 480px and below. */


h1 {
	margin-top: 1em;
	font-size: 1.5em;
	line-height: 1em;
	color: #000;
}

h2 { font-size: 1.5em; line-height: 1em; color: #666;}
h3 { font-size: 14px; }
h4 { font-size: 13px; }
h5 { font-size: 12px; }

p {
	font-family: Arial, Helvetica, sans-serif;
	line-height: 1.5em;
	color: #333;
	padding-bottom: 1em;
}

strong {
	font-weight: bold;
}

a:link { color: #3D509E; }
a:visited {	color: #3D509E; }
a:hover, a:active {	color: #96845C; }

a.lighten {
    display: inline-block;
    background-color: #FFF;
    padding: 0;
}

a.lighten img {
    display: block;

    -webkit-transition: all 0.1s linear;
       -moz-transition: all 0.1s linear;
        -ms-transition: all 0.1s linear;
         -o-transition: all 0.1s linear;
            transition: all 0.1s linear;
}

a.lighten:hover img {
    opacity: 0.5;

}


#top-box {
}

.top-box-text {
	
}
	
.top-gmao-logo {
	
}
	
	.top-box-text a:link {
	
	}
	
	.top-box-text a:visited {
	
	}
	
	.top-box-text a:hover, a:active {

	}


#top-links-box {
	margin: 0 auto;
	padding: .8em 0;
	background-color: #333;
	display: block;
	width: 100%;
	height: auto;
	text-align: center;
	}

.top-links-text {
	font-size: .9em;
	color: #666;
	line-height: 2.5em;
}

	.top-links-text a:link {
		color: #95b0d0;
		text-decoration: none;
		padding-left: 1em;
	    padding-right: 1em;
	}
	
	.top-links-text a:visited {
		color: #95b0d0;
	}
	
	.top-links-text a:hover, a:active {
		text-decoration: underline;
		color: #b7a98b;
	}
	

#menu-container {
	}

	#menu {
	}
	
	#menu ul {
	}
	
	#menu li {
	}
	
	#menu a:visited, #menu a:link  {
	}
	
	#menu li:hover {
	}
	
	#menu a:hover {
	}
	
	#menu a:active  {
	}
	
	
	

#content-container {
	margin-left: 0;
	width: 100%;
	background-color: #FFF;
	text-align: center;
	overflow: auto;
}

#handiv{
    width: 400px;
    height: 300px;
}


.table-container {
	width: 100%;
	text-align: center;
}

.table-wrapper {
	width: 90%;
	margin: 1em auto;
}


#footer {
	background-color: #3e4956;
	width: 100%;
}

	.footer-text-box {
		text-align: center;
		margin-top: 5%;
		}
	
	.footer-links {
		font: inherit;
		font-size: 1em;
		line-height: 1.2em;
		padding-bottom: 1em;
		color: #97A9BF;
	}
	
	.footer-links a:link {
		text-decoration: none;
		color: #95b0d0;
	    padding-right: 1em;
		padding-left: 1em;
	}
	
	.footer-links a:visited {
		text-decoration: none;
		color: #95b0d0;
	}
	
	.footer-links a:hover {
		text-decoration: underline;
		color: #b7a98b;
	}
	
	.footer-mobile-nasa-logo {
		width: 100%;
		text-align:center;
		display: block;
		margin: 1em auto;
	}
	
	.footer-mobile-gmao-logo {
		width: 100%;
		text-align:center;
		display:block;
		margin: 1em auto;
	}
	


.zeroMargin_mobile {
margin-left: 0;
}

.image-container {
	margin: 0 auto;
	padding: 1% 3% 0 3%;
}

.image-container img {
	border: thin solid #CCC;
}

.line {
	border-top: thin solid #EEE;
	margin: 0 auto 10% auto;
	width: 90%;
}

.text-container {
	padding: 0 4% 0 4%;
	margin: 0 auto;
	width: 80%;
	text-align: left;
}

.text-container h1 {
	font-size: 1.8em;
	line-height: 1.3em;
	color: #000;
}
	
.text-container h2 {
	font-size: 1.5em;
	color: #000;
	padding-top: .8em;
}
	
.text-container p {
	font-size: 1.2em;
	line-height: 1.7em;
	padding-bottom: .9em;
}
	
.text-container li { 
	font-size: 1.2em;
	line-height: 1.7em;
	padding-bottom: 1.5em;
}
	
.text-container img {
	margin: 0 auto;
	padding: 1% 1% 4% 1%;
}
	

.alert-message {
	width: 100%;
	background-color: #FFC;
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
}
	
.alert-message p {
	font-size: 1.1em;
	color: #000;
	padding: 0 10%;
	margin: 0 auto 1.5em auto;
}
	
.alert-title {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1.5em;
	font-weight: bold;
	color: #900;
	padding-top: 1em;
	padding-bottom: .5em;
}
    
.label-heading {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1.2em;
	font-weight: bold;
	line-height: 2em;
}
	
.hide_mobile {
display: none;
}

.hide_desktop {
 display: block;
}

.float-right {
	float: right;
}


/* Tablet Layout: 481px to 950px. Inherits styles from: Mobile Layout. */

@media only screen and (min-width: 481px) {


.gridContainer {
	width: 100%;
	padding: 0;
	clear: none;
	float: none;
	margin: auto;
	background-color: #FFF;
	overflow: hidden;
}

h1 {
	font-size: 1.9em;
	padding: 0 1% 0 0;
}

h2 { font-size: 1.4em; }



#top-box {
	margin: 0 auto;
	border-top: solid 0 #4f6c8e;
	border-bottom: solid 0 #000;
	background-color: #3e4956;
	height: 7em;
}

.top-box-text {
	font-size: 1em;
	color: #FFF;
	text-align: right;
	padding-top: 3%;
}
	
.top-gmao-logo {
	float: right;
	padding: 1.7% 1% .8% 1%;
}

.top-nasa-logo {
	float: left;
	padding: .8% 0 .3% 1%;
}

.top-box-text a:link {
	color: #FFF;
	//font-weight: bold;
	text-decoration: none;
}
	
.top-box-text a:visited {
	color: #FFF;
}
	
.top-box-text a:hover, a:active {
	text-decoration: underline;
}


#top-links-box {
	height: 2em;
	text-align: right;
}

.top-links-text {
	font-size: .9em;
	line-height: 2.2em;
	float: right;
}

.top-links-text a:link {
}

.top-links-text a:visited {
}

.top-links-text a:hover, a:active {
}

#menu-container {
	width: 25%;
        //max-width: 450px;
	padding-bottom: 2000px;
	margin-bottom: -2000px;
	background-color: #EEE;
	float: left;
}



#menu {
	margin: 0;
	padding: 0;
}
	
#menu li {
}
	
#menu li ul {
}
	
#menu li ul li {
}
	
#menu a:visited, #menu a:link  {
}
	
#menu a:hover {
}
	
#menu a:active  {
}
	
	
#content-container {
	width: 75%;
	margin: 0 auto;
	padding: 1% 4%;
	display: block;
	clear: none;
	text-align: center;
	border-left: thin solid #EEE;
	box-sizing: border-box;
	-moz-box-sizing: border-box; /* Firefox */
	-webkit-box-sizing: border-box;
}

#handiv{
    width: 600px;
    height: 450px;
}

.table-container {
	width: 100%;
	margin: 1em auto;
}

.table-wrapper {
	width: 90%;
	height: 100%;
}

.img-resize {
	max-width: 100%;
}

.map-wrapper {
    max-width: 90%;
    margin: 1% auto 2% auto;
    border: 1px solid #ddd;	
}

.map-img {
	width: 80%;
	margin: 10px auto 20px auto;
}


.animate {
	margin: 15px 20px 0 0;
}

.animate ul {
    text-align: center;
}
	
.animate li {
	list-style: none;
}

.animate li a {
	background: #336699;
	text-decoration: none;
	color: #FFF;
	display: block;
	width: 150px;
	line-height: 3em;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	font-size: 1.1em;
	font-weight: bold;
}
	
.animate li a:hover {
	color: #000;
	background: #CCC;
	text-decoration: none;
}


#footer {
	border-bottom: solid 15px #4f6c8e;
	overflow: visible;
	clear: both;
}
	
.footer-text-box {
	margin: 2% 0 1% 2%;
	text-align: left;
}
	
.footer-links {
	font-size: .9em;
	line-height: 1.3em;
}

.footer-links a:link {
}
	
.footer-links a:hover {
}
	

.footer-mobile-nasa-logo {
	display:none;
}
	
.footer-mobile-gmao-logo {
	display:none;
}

	
.hide_mobile {
	display: block;
}

.hide_desktop {
	display: none;
}

.zeroMargin_tablet {
	margin-left: 0;
}


.image-container {
	margin: 3% auto 0 auto;
	padding: 0;
	max-width: 680px;
	max-height: 550px;
}

.line {
	margin: 0 auto 4% auto;
}

.text-container {
	width: 90%;
	margin: 2% auto 1% auto;
	text-align: left;
}

.text-container h1 {
}

.text-container h2 {
}

.text-container p {
}

.text-container img {
}

.label-heading {
}

}




/* Desktop Layout: 950px to a max of 1232px.  Inherits styles from: Mobile Layout and Tablet Layout. */

@media only screen and (min-width: 950px) {

.gridContainer {
	width: 96%;
	max-width: 1232px;
}

#top-box {
}
	.top-box-text {
	}
	
	.top-box-text a:link {
	}
	
	.top-box-text a:visited {
	}
	
	.top-box-text a:hover, a:active {
	}


#top-links-box {
	}

	.top-links-text {
	}
	
	.top-links-text a:link {
	}
	
	.top-links-text a:visited {
	}
	
	.top-links-text a:hover, a:active {
	}



#menu-container {
}

	#menu {
	}
	
	#menu li {
	
	}
	
	#menu li ul {
	}
	
	#menu li ul li {
	}
	
	#menu a:visited, #menu a:link  {
	}
	
	#menu a:hover {
	}
	
	#menu a:active  {
	}
	

#content-container {
}

#handiv {
    width: 800px;
    height: 600px;
}

.table-container {
	width: 100%;
	display: table-row;
}

.table-wrapper {
	width: 40%;
	padding: 1em;
	display: inline-block;
	display: table-cell;
}

#footer {
}

	.footer-text-box {
		}
	
	.footer-links {
	}
	
	.footer-links a {
	}
	
	.footer-links a:hover {
	}

.footer-mobile-nasa-logo {
		display:none;
	}
	
.footer-mobile-gmao-logo {
		display:none;
	}

.zeroMargin_desktop {
	margin-left: 0;
}

.hide_mobile {
}

.hide_desktop {
}

}


/* ALERT MESSAGE STYLES */

#alert-box {
    //background-color:#FCFCBF;
    padding:10px 40px 10px 20px;
}
.alert-text {
    font-family: "Helvetica Neue", Helvetica, Arial, "sans-serif";
    font-size: 1.1em;
}

.notice-width {
    width: 96%
}
.notice {
    color: #FF0000;
}
.box-yellow {
        background-color:#FCFCBF;
}

.box-green {
        background-color:#9ee2a0;
}

.box-orange {
        background-color:#fbbf7f;
}

.box-blue {
        background-color:#7fd9fb;
}
